{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form, null, {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        {{ form_errors(form) }}
        <div class="col-sm-10">
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}

{%- block form -%}
    {{ form_start(form) }}
    <div class="box-body">
        {{- form_widget(form) -}}
    </div>
    {{ form_end(form) }}
{%- endblock form -%}