{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ table.title }}</h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            {% for key, value in table.headers %}
                                <th>{{ value.name }}</th>
                            {% endfor %}
                        </tr>
                        {% for row in table.data %}
                            <tr>
                                {% for key in table.headers|keys %}
                                    <td>{{ attribute(row, key) }}</td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="{{ table.headers|length }}">No data</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a href="{{ path('new_item') }}" class="btn btn-sm btn-info pull-right">New Item</a>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}