{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Horizontal Form</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
        </div>
    </div>
{% endblock %}